.playDialog {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);

  background-color: #fff8e1;
  outline: 1px solid #333;

  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playDialog__score {
  font-weight: bold;
}

.playDialog_btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #6b6b6b;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
