.dropArea {
  position: absolute;
  width: 100px;
  height: 110px;
  background-color: var(--bgColor-light);

  display: flex;
  justify-content: center;
  align-items: center;
}

.dropArea__left {
  border-width: 0 1px 1px 0;
  border-style: solid;
}

.dropArea__right {
  border-width: 0 0 1px 1px;
  border-style: solid;
}
